.icon-large {
    font-size: 100px;
}

.expense-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .expense-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .expense-card h5 {
    margin-bottom: 10px;
  }
  
  .expense-card p {
    margin: 0;
    font-size: 14px;
  }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
  display: grid;
  grid-template-columns: 20% 1fr;
  width: 100vw; /* Ensure full width */
  max-width: 100vw; /* Prevent overflow */
  height: 100vh; /* Full height */
  margin: 0;
  padding: 0;
  transition: grid-template-columns 0.3s ease-in-out;
  overflow: hidden; /* Hide any unwanted extra space */
}

.sidebar {
  height: 100vh;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  /* box-sizing: border-box; */
  transition: width 0.3s ease-in-out;
  overflow: hidden;
}

.app-name {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.toggle-btn {
  background-color: #34495e;
  border: none;
  color: white;
  width: 100%;
  margin: 10px;
  cursor: pointer;
  font-size: 18px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  padding: 10px 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px; /* Space between icon and text */
  padding: 10px;
  transition: background-color 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
  background-color: #1abc9c;
}

.content {
  background-color: #ecf0f1;
  padding: 20px;
  overflow-y: auto;
  width: 100%;
  height: 100vh;
  transition: width 0.3s ease-in-out;
}

/* Collapsed Sidebar */
.sidebar.collapsed {
  width: 80px;
  transition: width 0.3s ease-in-out;
}

.container.sidebar-collapsed {
  grid-template-columns: 80px auto;
}

.sidebar.collapsed .toggle-btn {
  width: 100%;
  text-align: center;
}

.sidebar.collapsed nav ul li a {
  justify-content: center;
  gap: 0;
  padding: 12px;
}