<div class="sidebar"
    [class.collapsed]="isCollapsed">
    <h2 class="app-name" *ngIf="!isCollapsed">Expense App</h2>
  <button type="button"
      class="toggle-button w-100"
      (click)="toggleSidebar()">
    ☰
  </button>
  <nav>
    <ul>
      <li>
        <a routerLink="/expenses/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-house-door"></i>
          <span *ngIf="!isCollapsed">Home</span>
        </a>
      </li>
      <li>
        <a routerLink="/expenses/view-summary" routerLinkActive="active">
          <i class="bi bi-bar-chart"></i>
          <span *ngIf="!isCollapsed">Summary</span>
        </a>
      </li>
      <!-- <li>
        <button type="button" (click)="onLogOut()">-> LogOut</button>
      </li> -->
    </ul>
    
    <div class="logout-container">
      <button type="button" class="logout-btn" (click)="onLogOut()">
        <i class="bi bi-box-arrow-right"></i>
        <span *ngIf="!isCollapsed">Logout</span>
      </button>
    </div>
  </nav>
</div>