<div class="container mt-4 table-responsive">
    <h2>All Expenses</h2>
    <div class="page-header d-flex py-1">
      <div class="sort d-flex align-items-center gap-2">
        <span class="fw-bold">Sort By:</span>
        <select #dropdown class="border-0 underline-select border-bottom"
            [(ngModel)]="selectSort"
            (change)="sortChanged()">
          <option *ngFor="let type of sortTypes" [ngValue]="type">
            {{ type.name }}
          </option>
        </select>
      </div>
    </div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Sr. No.</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Type</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expense of expenseList; let ind = index">
          <td>{{ ind + 1 }}</td>
          <td>{{ expense.description }}</td>
          <td>${{ expense.amount }}</td>
          <td>{{ expense.type }}</td>
          <td>{{ expense.date | date: 'dd/MM/yyyy' }}</td>
        </tr>
      </tbody>
    </table>
  </div>